* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mask {
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: rgba(61, 57, 57, 0.527);
    z-index: 2;
    transition: opacity .3s linear;
    opacity: 0;
}

button {
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: 1;
}


.show {
    transition: opacity .3s linear;
    opacity: 1; 
}

.down {
    height: 100vh;
}

.modal-container {
    display: flex;
    align-items: cente;
    justify-content: center;
    width: 100%;
}
.modal {
    position: absolute;
    margin: auto auto;
    max-width: 500px;
    height: 70vh;
    min-width: 330px;
    border: solid thin #ddd;
    background-color: #fdfdfd;
    box-shadow: 2px 3px rgb(97 85 85 / 7%);
    z-index: 4;
    padding: 15px;
    transition: transform .3s linear;
    transform: translate(17px, -700px);
}
